:root {
  --purple--: #8257e6;
}

body {
  background: #13131f !important;
}

h1 {
  color: var(--purple--) !important;
}

button {
  border: 1px var(--purple--) solid !important;
}

ul li:focus {
  border-bottom: 2px var(--purple--) solid !important;
  border-radius: 0 !important;
}

.lorem {
  background: var(--purple--) !important;
}

.lorem-text {
  font-size: 24px;
}

.intro {
  font-weight: 300;
}

/* .left-art {
  width: 60%;
  
}

.right-art {
  width: 40%;
  } */

/* .r1 .r2 {
  height: 50% !important;
} */

@media screen and (max-width: 576px) {
  .lorem-text {
    font-size: 16px !important;
  }

  .intro {
    font-size: 20px !important;
  }
}
