:root {
  --purple--: #8257e6;
}

body {
  background: #13131f !important;
}

h1,
footer h2 {
  color: var(--purple--) !important;
}

button {
  border: 1px var(--purple--) solid !important;
}

ul li:focus {
  border-bottom: 2px var(--purple--) solid !important;
  border-radius: 0 !important;
}

.lorem {
  background: var(--purple--) !important;
}

.lorem-text {
  font-size: 24px;
}

.intro {
  font-weight: 300;
}

main {
  height: 400px;
}

.left-div {
  background-image: url(./images/img1.png);
  /* background-color: rgba(0, 0, 0, 0.5); */
}

.art1 {
  background-image: url(./images/02.png);
  position: relative;
}

.art2 {
  background-image: url(./images/03.png);
}

.left-div,
.art1,
.art2,
.lorem-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backdrop-filter: drop-shadow(4px 4px 10px blue);
}

.left-div::after,
.art1::after,
.art2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.lorem-link {
  background: var(--purple--) !important;
}

.lorem-text {
  font-size: 28px;
}

.art1 > p,
.art2 > p {
  font-size: 14px;
}
.infos {
  max-height: 90vh !important;
  overflow-y: scroll;
}
.lorem-bg {
  background-image: url(./images/16.png);
  width: 300px;
  max-width: 50%;
}

.lorem-bg > a {
  font-size: 13px !important;
}

.p-hidden {
  display: none;
}

.texto > button {
  background: var(--purple--);
}

.info-right {
  height: 85vh !important;
}

section ::-webkit-scrollbar {
  background: #000000;
  width: 10px;
}

section ::-webkit-scrollbar-thumb {
  background: var(--purple--);
}

.topo > div,
.final > div {
  height: 300px !important;
}

.color-border{
  border-bottom: 3px solid var(--purple--);
  
}

@media screen and (max-width: 1024px) {
  .lorem-text {
    font-size: 24px;
  }
  .art1 > p,
  .art2 > p {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .lorem-text {
    font-size: 20px;
  }
  .art1 > p,
  .art2 > p {
    font-size: 11px;
  }
}

@media screen and (max-width: 576px) {
  .lorem-text {
    font-size: 18px;
  }

  .p-hidden {
    display: block;
  }
}
